<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kharol.papers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/contract"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/contract"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".PaperCardActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.InformationTechnology"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.IT.SemesterEight"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.Subjects.IT_AI"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.AutoMobile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.Civil"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.ComputerScience"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.Electical"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.ElectronicsCommunication"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.Mechanical"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".course.IT.SemesterSeven"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course.IT.SemesterSix"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SyllabusCardActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>